In [9]:
from src.dataset import get_psa_pop_df

psa_pop_df_og = get_psa_pop_df()
psa_pop_df_og.head()

,CardNumber,CardNumberSort,Grade1,Grade10,Grade1Q,Grade1_5,Grade1_5Q,Grade2,Grade2Q,Grade2_5,...,set_id,CategoryName,CategoryNameSEO,IsExactMatch,ResultItems,Score,SetName,SetNameSEO,SportCategoryID,YearIssued
0,,99999,1,224,0,0,0,0,0,0,...,31714,Tcg Cards,tcg-cards,False,"[{'CardNumber': None, 'Description': None, 'Na...",3.660932,Pokemon Japanese Pokemon Japanese Promo,pokemon-japanese-promo,156940,1998-99
1,,99999,2,494,0,0,0,6,0,0,...,31714,Tcg Cards,tcg-cards,False,"[{'CardNumber': None, 'Description': None, 'Na...",3.660932,Pokemon Japanese Pokemon Japanese Promo,pokemon-japanese-promo,156940,1998-99
2,,99999,1,1688,0,0,0,0,0,0,...,31714,Tcg Cards,tcg-cards,False,"[{'CardNumber': None, 'Description': None, 'Na...",3.660932,Pokemon Japanese Pokemon Japanese Promo,pokemon-japanese-promo,156940,1998-99
3,54,54,0,36,0,0,0,0,0,0,...,31714,Tcg Cards,tcg-cards,False,"[{'CardNumber': None, 'Description': None, 'Na...",3.660932,Pokemon Japanese Pokemon Japanese Promo,pokemon-japanese-promo,156940,1998-99
4,,99999,2,291,0,0,0,1,0,0,...,31714,Tcg Cards,tcg-cards,False,"[{'CardNumber': None, 'Description': None, 'Na...",3.660932,Pokemon Japanese Pokemon Japanese Promo,pokemon-japanese-promo,156940,1998-99

In [10]:
psa_pop_df_og.columns

Index(['CardNumber', 'CardNumberSort', 'Grade1', 'Grade10', 'Grade1Q',
       'Grade1_5', 'Grade1_5Q', 'Grade2', 'Grade2Q', 'Grade2_5', 'Grade3',
       'Grade3Q', 'Grade3_5', 'Grade4', 'Grade4Q', 'Grade4_5', 'Grade5',
       'Grade5Q', 'Grade5_5', 'Grade6', 'Grade6Q', 'Grade6_5', 'Grade7',
       'Grade7Q', 'Grade7_5', 'Grade8', 'Grade8Q', 'Grade8_5', 'Grade9',
       'Grade9Q', 'GradeN0', 'GradeTotal', 'HalfGradeTotal',
       'QualifiedGradeTotal', 'SortOrder', 'SubjectName', 'Total', 'Variety',
       'set_id', 'CategoryName', 'CategoryNameSEO', 'IsExactMatch',
       'ResultItems', 'Score', 'SetName', 'SetNameSEO', 'SportCategoryID',
       'YearIssued'],
      dtype='object')

In [13]:
psa_pop_df = psa_pop_df_og[["YearIssued", "SetName", "SubjectName", "Variety", "GradeTotal", "Grade10", "Grade9", "set_id"]]
psa_pop_df.head()

,YearIssued,SetName,SubjectName,Variety,GradeTotal,Grade10,Grade9,set_id
0,1998-99,Pokemon Japanese Pokemon Japanese Promo,Ancient Mew I,,956,224,554,31714
1,1998-99,Pokemon Japanese Pokemon Japanese Promo,Ancient Mew I,"""Nintedo"" Error",2424,494,1530,31714
2,1998-99,Pokemon Japanese Pokemon Japanese Promo,Ancient Mew II,,3461,1688,1605,31714
3,1998-99,Pokemon Japanese Pokemon Japanese Promo,Psyduck,Natta Wake Vol. 2,227,36,81,31714
4,1998-99,Pokemon Japanese Pokemon Japanese Promo,Grand Party Trainer,Double Black Star,846,291,321,31714

In [19]:
import pandas as pd

grouped_df = psa_pop_df.groupby('set_id').agg({'GradeTotal': 'sum', 'SetName': 'first', 'YearIssued': 'first' }).reset_index()
grouped_df.head()

   set_id  GradeTotal                                      SetName YearIssued
0  100000        2941                  Pokemon Japanese Stormfront       2008
1  100014        4496   Pokemon Japanese Golden Sky, Silvery Ocean       2005
2  100094           4  Pokemon Japanese Promo Tropical Mega Battle       2001
3  100095         278            Pokemon World Championships Promo       2011
4  100140          72   Pokemon Heartgold & Soulsilver Raichu Deck       2010

In [45]:
sorted_grouped_df = grouped_df.sort_values('GradeTotal', ascending=True)
sorted_grouped_df = sorted_grouped_df[sorted_grouped_df["GradeTotal"] >= 20]
sorted_grouped_df.head(20)

,set_id,GradeTotal,SetName,YearIssued
665,180398,20,Pokemon Intl. Heartgold Soulsilver Foil Pack,2010
822,206597,20,Pokemon Chinese SM Promo,2019
863,218361,20,Pokemon Indonesian Sword & Shield Vmax Climax,2022
16,100235,20,"Pokemon USA, Inc. EX Unseen Forces Foil Pack",2005
439,161510,20,Pokemon Battle Arena Deck: Mega Charizard X VS...,2018
686,180441,21,"Pokemon USA, Inc. XY Breakpoint Foil Pack",2016
681,180434,21,Pokemon Int'l Black & White Legendary Treasure...,2013
780,195696,21,Pokemon Int'l Sword & Shield Champion's Path F...,2020
667,180404,21,Pokemon Intl. HS Undaunted Foil Pack,2010
659,180370,21,Pokemon Int'l Sun & Moon Ultra Prism Foil Pack,2018
688,180443,22,Pokemon Int'l Sun & Moon Celestial Storm Foil ...,2018
598,173995,22,Pokemon Japanese Sword & Shield V Starter Set ...,2019
388,154320,22,Topps Pokemon Johto League Champions Episode C...,2001
467,163248,22,Pokemon Action Flipz Premier Edition Special F...,1999
361,151352,22,Pokemon Japanese Battle Gift Set,2011
786,198111,22,Pokemon Japanese Sword & Shield Legendary Hear...,2020
530,167711,23,Pokemon Japanese Promo Secret Super Battle,1999
18,100239,23,"Pokemon USA, Inc. EX Dragon Frontiers Foil Pack",2006
606,174079,23,Pokemon Black Star Promo Cello Pack,2017
848,213124,23,Pokemon Japanese Coin Promo,2022

In [46]:
psa_pop_df[psa_pop_df["set_id"] == "151352"]

,YearIssued,SetName,SubjectName,Variety,GradeTotal,Grade10,Grade9,set_id
35857,2011,Pokemon Japanese Battle Gift Set,Tornadus-Holo,,10,7,2,151352
35858,2011,Pokemon Japanese Battle Gift Set,Torchic,,3,3,0,151352
35859,2011,Pokemon Japanese Battle Gift Set,Thundurus-Holo,,8,4,3,151352
35860,2011,Pokemon Japanese Battle Gift Set,Chatot,,1,1,0,151352